<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Input texts inside the box and your text will be Pig Latinize!</h2>
    <form action="/" method="POST">
      <textarea row="20" col="50"></textarea>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
